---
type PostData = {
	category?: string;
	tags?: string[];
};

type Props = {
	sortTarget: string;
	slug: string;
	filteredObj: string[];
	objNum: any;
};

const { sortTarget, slug, filteredObj, objNum } = Astro.props;
const currentPath = Astro.url.pathname;
---

<aside class='layout__side-nav'>
	<div class='flex flex-col items-baseline'>
		<div>
			<div class='flex flex-col items-baseline'>
				<div>
					<h2 class='text-lg font-bold'>{sortTarget}</h2>
					<select class='' onchange='location.href=this.value'>
						<slot />
						{
							filteredObj.map((obj) => {
								const path = slug + encodeURIComponent(obj);
								return (
									<option value={path} selected={currentPath === path}>
										{obj}({objNum[obj] ?? 0})
									</option>
								);
							})
						}
					</select>
				</div>
			</div>
		</div>
	</div>
</aside>
