---
import { getCollection, render } from 'astro:content';
import PostLayout from '../../layouts/PostLayout.astro';

export async function getStaticPaths() {
	const posts = await getCollection('posts');
	return posts.map((post) => ({
		params: { slug: post.id },
		props: { post },
	}));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

{
	post.data.status === 'published' ? (
		<PostLayout frontmatter={post.data}>
			<Content />
		</PostLayout>
	) : (
		<div class='container'>
			<h1 class='text-center'>記事が見つかりませんでした。</h1>
		</div>
	)
}
