---
import BasicLayout from '../../layouts/BasicLayout.astro';
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';
import defaultThumbnail from '../../images/thumbnails/computer_laptop_angle1.png';

// コンテンツコレクションを使用して記事を取得
const posts = await getCollection('posts');
const sortedPosts = posts.sort((a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime());
---

<BasicLayout>
	<section>
		<div class='page-title'>
			<h1 class='text-center'>Blog</h1>
		</div>
		<ul class='links'>
			{
				sortedPosts.map((post) => (
					<li class='link'>
						<a href={`/my_profile/posts/${post.slug}`} class='card-link'>
							<div class='card'>
								{post.data.image ? (
									<img
										src={post.data.image}
										alt={post.data.imageAlt || ''}
										class='post-image'
										width={400}
										height={300}
									/>
								) : (
									<Image src={defaultThumbnail} alt='サムネイル設定なし' class='post-image' width={400} height={300} />
								)}
								<p class='blog__title'>{post.data.title}</p>
								<p>
									{post.body
										.replace(/<[^>]*>/g, '')
										.split('\n')
										.slice(2)
										.join(' ')
										.slice(0, 80)}
									...
								</p>
							</div>
						</a>
					</li>
				))
			}
		</ul>
	</section>
</BasicLayout>

<style>
	@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Bungee&family=M+PLUS+1+Code:wght@100..700&family=Murecho:wght@100..900&family=Sawarabi+Gothic&family=Slackside+One&family=Zen+Kurenaido&display=swap');

	.text-center {
		font-family: 'M PLUS 1 Code', monospace;
		font-size: 2rem;
		margin-bottom: 1rem;
		font-weight: 400;
		text-shadow: 1px 1px 1px rgb(131, 131, 131);
	}

	.page-title {
		position: relative;
		display: flex;
		justify-content: center;
		position: relative;
		flex-direction: column;
	}

	.text-center::after {
		content: '';
		position: absolute;
		width: 5rem;
		border-top: 3px solid #333333;
		border-radius: 1rem;
		top: 50px;
		left: 50%; /* 中央揃えの場合 */
		transform: translateX(-50%); /* 中央揃えの場合 */
	}

	.links {
		display: flex;
		justify-content: flex-start;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.link {
		width: 21rem;
		padding-top: 1rem;
		/* margin-bottom: 1rem; */
	}

	/* .link:nth-child() {
		margin: 0 1rem 0;
	} */

	.link:nth-child(3n + 2) {
		margin: 0 1rem 0;
	}

	.blog__title {
		font-size: 1.1rem;
		margin-top: 0.5em;
		font-weight: 800;
	}

	img {
		/* border-radius: 1rem; */
	}

	.post-image {
		border-radius: 0.8rem;
	}

	.card {
		/* border: 1px solid; */
		padding: 1rem;
		/* background: #fafafa31; */
		border-radius: 1rem;
		box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
		min-height: 28rem;
	}

	.card:hover {
		background-color: #ececec;
		box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
		transition: 0.2s;
	}
</style>
