@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background: #fff;
}

h1, h2, h3 {
    font-family: sans-serif;
}

.markdown-body p, .markdown-body blockquote, .markdown-body ul, .markdown-body ol, .markdown-body dl, .markdown-body table, .markdown-body pre, .markdown-body details {
    display: block;
    margin-bottom: .5rem !important;
}