<!-- ---
import Layout from '@/layouts/Layout.astro';
import { pageInfo } from '@/data/pageInfo';
import PageTitle from '@/components/PageTitle/index.astro';
---

<Layout title={pageInfo.notFound.metaTitle} description={pageInfo.notFound.metaDescription}>
	<section class='contents h-[calc(100vh-80px)] flex items-center justify-center pb-24'>
		<PageTitle title={pageInfo.notFound.headingTitle} description={pageInfo.notFound.headingDescription} />
	</section>
</Layout> -->
