---
import Head from '../components/Head.astro';
import HeroSection from '../components/HeroSection.astro';
import PostLayout from '../layouts/PostLayout.astro';

const postData = {
	title: 'Welcome to Astro.',
	author: 'Your Name',
	date: new Date().toLocaleDateString(),
};
const imageUrl = { '../public/images/top01.webp' }
---

<Head />
<HeroSection imageUrl={imageUrl}>
	<p>aaaa</p>
</HeroSection>
<PostLayout frontmatter={postData}>
	<!-- ここにポストの内容を記述 -->
	<p>This is the content of your post.</p>
</PostLayout>
