---
import Head from '../components/Head.astro';
import PostLayout from '../layouts/PostLayout.astro';

const postData = {
	title: 'Welcome to Astro.',
	author: 'Your Name',
	date: new Date().toLocaleDateString(),
};
---

<Head />
<PostLayout frontmatter={postData}>
	<!-- ここにポストの内容を記述 -->
	<p>This is the content of your post.</p>
</PostLayout>
