---
// src/layouts/Layout.astro
import HeroSection from '../components/HeroSection.astro';
import '../styles/global.css';

const postData = {
	title: 'Welcome to Astro.',
	author: 'Your Name',
	date: new Date().toLocaleDateString(),
};
---

<html>
	<head>
		<!-- public/js/bubbly-bg.js を読み込む -->
		<script is:inline src='my_profile/js/bubbly-bg.js'></script>
	</head>
	<body>
		<slot />

		<!-- bubblyの初期化 -->
		<script>
			document.addEventListener('DOMContentLoaded', () => {
				bubbly({
					// 必要に応じてオプションを設定
					compose: 'source-over',
					blur: 100,
					bubbles: 99,
					// その他のオプション
				});
			});
		</script>
	</body>
</html>
