---
import '@fortawesome/fontawesome-free/css/all.min.css';
import { Image } from 'astro:assets';
import profileImage from '../images/syoumeisyashin_man.png';
---

<footer>
	<div class='footer-wrapper'>
		<Image src={profileImage} alt='プロフィール画像' class='footer__image' width={144} height={192} quality={80} />
		<div>
			<h1 class='footer-title'>このブログの所有者</h1>
			<p class='footer-text'>hiroyuki9614</p>
			<div class='footer-body'>
				<p>30年以上を大阪で過ごし、2024年の4月に東京へ移住しました。</p>
				<p>東京に住んだ感想は「ただただ情報量が多くて処理しきれない」</p>
				<p>前職は電気関連だったがWEB開発に挑戦するため勉強中。</p>
				<p>現職は江東区でWEB制作をしています。</p>
			</div>
		</div>
		<div>
			<p>links</p>
			<p>
				<a
					href='https://twitter.com/hiroyuki9614?ref_src=twsrc%5Etfw'
					class='twitter-follow-button'
					data-show-count='false'>Follow @hiroyuki9614</a
				>
				<script async src='https://platform.twitter.com/widgets.js' charset='utf-8'></script>
				<a href='https://github.com/hiroyuki9614' target='_blank' title='hiroyuki9614のGitHubページを開く'>
					<i class='fa-brands fa-github' style='color: black;font-size:2em'></i>
				</a>
			</p>
		</div>
	</div>
</footer>

<style>
	footer {
		border-top: 1.5px solid #e0e0e0;
		width: 80%;
		margin: 2rem auto 1rem auto;
	}

	img {
		height: 12rem;
	}

	footer div {
		margin-top: 0.8rem;
	}

	.footer-wrapper {
		display: flex;
	}
</style>
