---

---

<nav class=''>
	<ul>
		<li><a href='/my_profile'>Top</a></li>
		<li><a href='/my_profile/posts'>Blog</a></li>
		<li><a href='/my_profile/portfolio'>Portfolio</a></li>
		<li><a href='/my_profile/profile'>Profile</a></li>
	</ul>
</nav>

<style>
	ul {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap; /*スマホ表示折り返し用なのでPCのみなら不要*/
		margin: 0 0 2rem 0;
		list-style: none;
	}

	ul li a {
		display: block;
		padding: 10px 30px;
		text-decoration: none;
		color: #7c7c7c;
	}

	ul li {
		font-weight: 700;
		font-size: 1.1em;
		text-shadow: 0.2px 0.4px 0.6px #535353;
		margin-bottom: 20px;
	}

	ul li a {
		/*線の基点とするためrelativeを指定*/
		position: relative;
	}

	ul li.current a,
	ul li a:hover {
		color: #5c5c5c;
	}

	ul li a::after {
		content: '';
		/*絶対配置で線の位置を決める*/
		position: absolute;
		bottom: 5px;
		left: 10%;
		/*線の形状*/
		width: 80%;
		height: 1.5px;
		background: #838383;
		/*アニメーションの指定*/
		transition: all 0.3s;
		transform: scale(0, 1); /*X方向0、Y方向1*/
		transform-origin: center top; /*上部中央基点*/
	}

	/*現在地とhoverの設定*/
	ul li.current a::after,
	ul li a:hover::after {
		transform: scale(1, 1.2); /*X方向にスケール拡大*/
	}
</style>
