---
interface Props {
	text: string[];
}
const { text } = Astro.props;
---

<div class='cont'>
	<div class='kari'></div>
	<div class='body'></div>
	<script src='https://cdn.jsdelivr.net/npm/bubbly-bg@1.0.0/dist/bubbly-bg.js'></script>
	<script>
		bubbly();
	</script>
</div>

<style>
	@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Slackside+One&family=Zen+Kurenaido&display=swap');

	/* .wrapper {
		display: flex;
		justify-content: center;
	}

	.cont {
		margin-top: 4rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.cont:last-of-type {
		margin-bottom: 3rem;
	}

	.cont:nth-child(even) {
		flex-direction: row-reverse;
	}

	.kari {
		width: 15rem;
		height: 15rem;
		background-color: blue;
		margin-right: 2rem;
	}

	.cont:nth-of-type(even) .kari {
		margin: 0 0 0 2rem;
	}

	.body > p {
		width: 30rem;
		font-family: 'Zen Kurenaido', sans-serif;
		padding-left: 15%;
		border-bottom: 1px dotted black;
		background-color: rgb(196, 196, 196);
		box-shadow: 3px 3px 3px rgb(110, 35, 107);
		font-weight: 600;
		font-size: 1.2rem;
	} */
</style>
