---

---

<article>
	<div class='container'>
		<div class='catch'>
			<div class='shape1'></div>
			<div class='shape2'></div>
			<div class='shape3'></div>
			<div class='shape4'></div>
			<h1>HIROYUKI9614</h1>
			<p>東京都在住 職業:WEB制作</p>
			<p>ポートフォリオ一覧と</p>
			<p>メモのためのページです。</p>
		</div>
		<div>
			<img src='src/images/syoumeisyashin_man.png' class='image' />
		</div>
	</div>
</article>
<div class='body'></div>

<style>
	@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Bungee&family=Slackside+One&family=Zen+Kurenaido&display=swap');
	article {
	}

	.body {
		width: 100%;
		max-width: 1000px; /* コンテンツの最大幅を設定 */
		margin: 4.5rem auto; /* 左右のマージンを自動で均等に */
		text-align: left; /* 文字を左揃え */
		transition: 2s;
		animation: ease 3s fadein;
		color: rgb(22, 22, 22);
		font-weight: 800;
		font-size: 1.3em;
		text-shadow: 0.3px 0.3px 0.3px rgb(234, 255, 43);
	}

	.body > p {
		font-family: 'Zen Kurenaido', sans-serif;
		padding-left: 15%;
		border-bottom: 1px dotted black;
		background-color: rgb(196, 196, 196);
		box-shadow: 3px 3px 3px rgb(110, 35, 107);
	}

	.body > p:first-child {
		border-radius: 0.2rem 0.2rem 0 0;
	}

	.body > p:last-child {
		border-radius: 0 0 0.2rem 0.2rem;
	}

	.container {
		position: relative;
		display: flex;
		justify-content: center;
		/* background: #4cb5e4; */
		/* width: 60%; */
		/* height: 15rem; */
		margin: 0 auto 0 auto;
	}

	h1 {
		/* font-family: 'Anton SC', sans-serif; */
		/* letter-spacing: 5px; */
		font-size: 3em;
		font-weight: bold;
		animation: type-1 2s;
		white-space: nowrap;
		width: 8em;
		overflow: hidden;
		color: transparent;
		-webkit-text-stroke: 2px rgb(46, 46, 46);
	}

	@keyframes type-1 {
		from {
			/* width: 0; */
			-webkit-text-stroke: 0px rgb(255, 255, 255);
		}

		60% {
			-webkit-text-stroke: 0.2px rgb(255, 255, 255);
		}
	}

	.image {
		position: relative;
		height: 12rem;
		width: 10rem;
		border-radius: 50%;
		box-shadow: 2px 2px 2px;
		z-index: 3;
	}
</style>
