---

---

<article>
	<div class='container'>
		<div class='box'></div>
		<h1>HIROYUKI9614</h1>
	</div>
	<div class='body'></div>
</article>

<style>
	article {
	}

	.body {
		width: 100%;
		max-width: 1000px; /* コンテンツの最大幅を設定 */
		margin: 4.5rem auto; /* 左右のマージンを自動で均等に */
		text-align: left; /* 文字を左揃え */
		transition: 2s;
		animation: ease 3s fadein;
		color: rgb(22, 22, 22);
		font-weight: 800;
		font-size: 1.3em;
		text-shadow: 0.3px 0.3px 0.3px rgb(234, 255, 43);
	}

	.body > p {
		font-family: 'Zen Kurenaido', sans-serif;
		padding-left: 15%;
		border-bottom: 1px dotted black;
		background-color: rgb(196, 196, 196);
		box-shadow: 3px 3px 3px rgb(110, 35, 107);
	}

	.body > p:first-child {
		border-radius: 0.2rem 0.2rem 0 0;
	}

	.body > p:last-child {
		border-radius: 0 0 0.2rem 0.2rem;
	}

	.container {
		display: flex;
		justify-content: center;
	}

	h1 {
		font-size: 2em;
		font-weight: bold;
	}
</style>
