---
import BaseHead from '../components/BaseHead.astro';
import HeaderNav from '../components/HeaderNav.astro';
import Welcome from '../components/Welcome.astro';
import Footer from '../components/Footer.astro';
// const { title } = Astro.props;
import '../styles/global.css';
---

<html lang='ja'>
	<head>
		<BaseHead />
	</head>
	<body>
		<slot />
	</body>
</html>
