---
import BaseLayout from './BaseLayout.astro';
import HeaderNav from '../components/HeaderNav.astro';
import Welcome from '../components/Welcome.astro';
import MainContent from '../components/MainContent.astro';
import Footer from '../components/Footer.astro';
---

<BaseLayout>
	<header>
		<HeaderNav />
	</header>
	<main>
		<article class='wrapper'>
			<slot />
		</article>
	</main>
	<footer></footer>
</BaseLayout>

<style>
	@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Slackside+One&family=Zen+Kurenaido&display=swap');
</style>
