---
import BaseLayout from './BaseLayout.astro';
import HeaderNav from '../components/HeaderNav.astro';
import Welcome from '../components/Welcome.astro';
import MainContent from '../components/MainContent.astro';
import Footer from '../components/Footer.astro';
import Card from '../components/Card.astro';
import '../styles/global.css';
import Bubbly from '../components/Bubbly.astro';

const section1 = ['aaaaaa', 'aaaaaa', 'aaaaaa', 'aaaaaa'];
const section2 = ['bbbbbb', 'bbbbbb', 'bbbbbb', 'bbbbbb'];
const section3 = ['cccccc', 'cccccc', 'cccccc', 'cccccc'];
---

<BaseLayout>
	<header>
		<HeaderNav />
	</header>
	<main>
		<!-- <Bubbly /> -->
		<Welcome />
		<div class='card-container'>
			<Card><p>aaa</p></Card>
			<Card><p>aaa</p></Card>
			<Card><p>aaa</p></Card>
		</div>
	</main>
</BaseLayout>
<article class='wrapper'>
	<slot />
</article>

<footer></footer>

<style>
	@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
	@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Slackside+One&family=Zen+Kurenaido&display=swap');

	.card-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 70%;
		margin: 0 auto;
	}
</style>
