---
import BaseLayout from './BaseLayout.astro';
const { title, description } = Astro.props;
---

<BaseLayout metaTitle={title} metaDescription={description}>
	<main>
		<article class='wrapper'>
			<slot />
		</article>
	</main>
</BaseLayout>

<style>
	.wrapper {
		max-width: 80%;
		margin: 0 auto;
	}
</style>
