---
import BaseLayout from './BaseLayout.astro';
import HeaderNav from '../components/HeaderNav.astro';
import Welcome from '../components/Welcome.astro';
import Footer from '../components/Footer.astro';
---

<BaseLayout>
	<header>
		<HeaderNav />
		<Welcome />
	</header>
	<main></main>
	<footer></footer>
</BaseLayout>
