---
import BaseLayout from './BaseLayout.astro';
import HeaderNav from '../components/HeaderNav.astro';
import Welcome from '../components/Welcome.astro';
import MainContent from '../components/MainContent.astro';
import Footer from '../components/Footer.astro';

const textContent = ['aaaaaa', 'aaaaaa', 'aaaaaa'];
---

<BaseLayout>
	<header>
		<HeaderNav />
		<Welcome />
	</header>
	<main>
		<article class='wrapper'>
			<MainContent text={textContent} />
		</article>
	</main>
	<footer></footer>
</BaseLayout>
